*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
#inserir{
  border: 3px solid black;
  border-radius: 10px;
}
h1{
  text-align: center;
}
#divPrincipal{
  color: white;
  overflow: hidden;
  background-color: blue;
  width: 90%;
  height: 20vh;
  margin: 20px auto;
  /*display: flex;*/
  border: 4px solid black;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
#divPrincipal input{
  font-size: 15px;
}
#divSecundaria{
  color: white;
  overflow: hidden;
  background-color: blue;
  width: 90%;
  height: 60vh;
  margin: 20px auto;
  /*display: flex;*/
  border: 4px solid black;
  border-radius: 30px;
  padding: 10px;
  box-sizing: border-box;
}
#dados {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
}
#dados2 {
  display: flex;
  justify-content: center;
  gap: 76px;
  font-size: 20px;
}
#titulos{
  display:flex;
  justify-content: center;
  gap: 200px;
  font-size: 20px;
}
